## 1. 자료형

In [1]:
type(10)

int

In [2]:
type(2.718)

float

In [3]:
type("hello")

str

## 2. 정수의 표현

In [4]:
# 10진수
123

123

In [5]:
# 16진수
0x123

291

In [6]:
# 8진수
0o123

83

In [7]:
# 2진수
0b1101

13

## 3. 산술연산

In [8]:
1 + 2

3

In [9]:
4 * 5

20

In [10]:
3 ** 2

9

In [11]:
1 - 1

0

In [12]:
0.1 + 0.1 + 0.1 - 0.3

5.551115123125783e-17

## 4. Print function usages

In [13]:
print ("Hello, world")

Hello, world

In [14]:
x = 3
print ("Integer: %01d, %02d, %03d, %04d, %05d" % (x, x, x, x, x))

Integer: 3, 03, 003, 0003, 00003

In [15]:
print ("Integer: {:01d}, {:02d}, {:03d}, {:04d}, {:05d}".format(x, x, x, x, x))

Integer: 3, 03, 003, 0003, 00003

In [16]:
print ("Integer: {0:01d}, {0:02d}, {0:03d}, {0:04d}, {0:05d}".format(x))

Integer: 3, 03, 003, 0003, 00003

In [17]:
x = 3
y = 4
print ("Integer: {}, {}".format(x, y))
print ("Integer: {0}, {1}".format(x, y))
print ("Integer: {1}, {0}".format(x, y))
print ("Integer: {1:02d}, {0:02d}".format(x, y))

Integer: 3, 4
Integer: 3, 4
Integer: 4, 3
Integer: 04, 03

In [18]:
print ('{0:d} {0:x} {0:o} {0:b}'.format(64))

64 40 100 1000000

In [19]:
print ('{:,d}'.format(123456789))

123,456,789

In [20]:
x = 123.456;
print ("Float: %.0f, %.1f, %.2f, %1.2f, %2.2f" 
       % (x, x, x, x, x))

Float: 123, 123.5, 123.46, 123.46, 123.46

In [21]:
print ("Float: {:.0f}, {:.1f}, {:.2f}, {:1.2f}, {:2.2f}".format(x, x, x, x, x))

Float: 123, 123.5, 123.46, 123.46, 123.46

## 5. For + If/Else

In [22]:
dlmethods = ["ANN", "MLP", "CNN", "RNN", "DAE"]

for alg in dlmethods:
    if alg in ["ANN", "MLP"]:
        print ("We have seen %s" % (alg))

We have seen ANN
We have seen MLP

In [23]:
dlmethods = ["ANN", "MLP", "CNN", "RNN", "DAE"];
for alg in dlmethods:
    if alg in ["ANN", "MLP", "CNN"]:
        print ("{} is a feed-forward network.".format(alg))
    elif alg in ["RNN"]:
        print ("{} is a recurrent network.".format(alg))
    else:
        print ("{} is an unsupervised method.".format(alg))

# Little more advanced?
print("\nFOR loop with index.")
for alg, i in zip(dlmethods, range(len(dlmethods))):
    if alg in ["ANN", "MLP", "CNN"]:
        print ("[{}/{}] {} is a feed-forward network." 
               .format(i, len(dlmethods), alg))
    elif alg in ["RNN"]:
        print ("[{}/{}] {} is a recurrent network." 
               .format(i, len(dlmethods), alg))
    else:
        print ("[{}/{}] {} is an unsupervised method." 
               .format(i, len(dlmethods), alg))

ANN is a feed-forward network.
MLP is a feed-forward network.
CNN is a feed-forward network.
RNN is a recurrent network.
DAE is an unsupervised method.

FOR loop with index.
[0/5] ANN is a feed-forward network.
[1/5] MLP is a feed-forward network.
[2/5] CNN is a feed-forward network.
[3/5] RNN is a recurrent network.
[4/5] DAE is an unsupervised method.

## 6. Function

In [24]:
# Function definition looks like this
def sum(a, b):
    return a+b
X = 10.
Y = 20.
# Usage 
print ("%.1f + %.1f = %.1f" % (X, Y, sum(X, Y)))

10.0 + 20.0 = 30.0

## 7. String operations

In [25]:
head = "Deep learning" 
body = "very "
tail = "HARD."
print (head + " is " + body + tail)

# Repeat words
print (head + " is " + body*3 + tail)
print (head + " is " + body*10 + tail)

# It is used in this way
print ("\n" + "="*50)
print (" "*15 + "It is used in this way")
print ("="*50 + "\n")

# Indexing characters in the string
x = "Hello, world" 
for i in range(len(x)):
    print ("Index: [%02d/%02d] Char: %s" 
           % (i, len(x), x[i]))

Deep learning is very HARD.
Deep learning is very very very HARD.
Deep learning is very very very very very very very very very very HARD.

==================================================
               It is used in this way
==================================================

Index: [00/12] Char: H
Index: [01/12] Char: e
Index: [02/12] Char: l
Index: [03/12] Char: l
Index: [04/12] Char: o
Index: [05/12] Char: ,
Index: [06/12] Char:
Index: [07/12] Char: w
Index: [08/12] Char: o
Index: [09/12] Char: r
Index: [10/12] Char: l
Index: [11/12] Char: d

In [26]:
# More indexing 
idx = -2
print ("(%d)th char is %s" % (idx, x[idx]))
idxfr = 0
idxto = 8
print ("String from %d to %d is [%s]" 
       % (idxfr, idxto, x[idxfr:idxto]))
idxfr = 4
print ("String from %d to END is [%s]" 
       % (idxfr, x[idxfr:]))
x = "20160607Cloudy"
year = x[:4]
day = x[4:8]
weather = x[8:]
print ("[%s] -> [%s] + [%s] + [%s] " 
       % (x, year, day, weather))

(-2)th char is l
String from 0 to 8 is [Hello, w]
String from 4 to END is [o, world]
[20160607Cloudy] -> [2016] + [0607] + [Cloudy]

## 8. Tuple

In [27]:
t1 = ()
type(t1)

tuple

In [28]:
t2 = (1,)
type(t2)

tuple

In [29]:
t3 = (1, 2, 3)
type(t3)

tuple

In [30]:
t4 = 1, 2, 3
type(t4)

tuple

In [31]:
t1 = (1, 2, 'a', 'b')
t1[0]

1

In [32]:
del t1[0]

TypeError: 'tuple' object doesn't support item deletion

In [33]:
t1[0] = 'c'

TypeError: 'tuple' object does not support item assignment

In [34]:
t2 = (3, 4)
t1 + t2

(1, 2, 'a', 'b', 3, 4)

In [35]:
t2 * 3

(3, 4, 3, 4, 3, 4)

## 9. Set

In [36]:
s1 = set([1,2,3])
s1

{1, 2, 3}

In [37]:
type(s1)

set

In [38]:
s2 = set('Hello')
s2

{'H', 'e', 'l', 'o'}

In [39]:
type(s2)

set

In [40]:
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])
s1 & s2

{4, 5, 6}

In [41]:
s1.intersection(s2)

{4, 5, 6}

In [42]:
s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [43]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [44]:
s1 - s2

{1, 2, 3}

In [45]:
s2 - s1

{7, 8, 9}

In [46]:
s1 = set([1, 2, 3])
s1.add(4)
s1

{1, 2, 3, 4}

In [47]:
s1 = set([1, 2, 3])
s1.update([4, 5, 6])
s1

{1, 2, 3, 4, 5, 6}

In [48]:
s1 = set([1, 2, 3])
s1.remove(2)
s1

{1, 3}

## 10. Dictionary

In [49]:
members = {'basketball':5, 'soccer':11, 'baseball':9}
members

{'baseball': 9, 'basketball': 5, 'soccer': 11}

In [50]:
dict(basketball=5, soccer=11, baseball=9)

{'baseball': 9, 'basketball': 5, 'soccer': 11}

In [51]:
type(members)

dict

In [52]:
dict([('basketball', 5), ('soccer', 11), ('baseball', 9)])

{'baseball': 9, 'basketball': 5, 'soccer': 11}

In [53]:
members['baseball']   # 값 참조

9

In [54]:
members['volleyball'] = 7  #  새 값 설정
members['volleyball'] = 6  #  값 변경
members

{'baseball': 9, 'basketball': 5, 'soccer': 11, 'volleyball': 6}

In [55]:
len(members)

4

In [56]:
del members['basketball']
members

{'baseball': 9, 'soccer': 11, 'volleyball': 6}

In [57]:
'soccer' in members

True

In [58]:
'soccer' not in members

False

In [59]:
d = {}
d['one'] = 1
d[1] = 4
d[(1,2,3)] = 'tuple'
d

{1: 4, 'one': 1, (1, 2, 3): 'tuple'}

In [60]:
d[ [1,2,3] ] = 'list'

TypeError: unhashable type: 'list'

In [61]:
d = dict(one=1, two=2, three=3)
d

{'one': 1, 'three': 3, 'two': 2}

In [62]:
d.get('one')

1

In [63]:
d['one']

1

In [64]:
d['four']

KeyError: 'four'

In [65]:
d.get('four')

In [66]:
d.get('four', '???')

'???'

In [67]:
d

{'one': 1, 'three': 3, 'two': 2}

In [68]:
d.setdefault('four', '???')

'???'

In [69]:
d

{'four': '???', 'one': 1, 'three': 3, 'two': 2}

In [70]:
extra = {'four':4, 'five':5}
d.update(extra)
d

{'five': 5, 'four': 4, 'one': 1, 'three': 3, 'two': 2}

## 8. List

In [71]:
a = []
b = [1, 2, 3]
c = ["Hello", ",", "world"]
d = [1, 2, 3, "x", "y", "z"]
x = []
print (x)
x.append('a')
print (x)
x.append(123)
print (x)
x.append(["a", "b"])
print (x)
print ("Length of x is %d " 
       % (len(x)))
for i in range(len(x)):
    print ("[%02d/%02d] %s" 
           % (i, len(x), x[i]))

[]
['a']
['a', 123]
['a', 123, ['a', 'b']]
Length of x is 3
[00/03] a
[01/03] 123
[02/03] ['a', 'b']

In [72]:
z = []
z.append(1)
z.append(2)
z.append(3)
z.append('Hello')
## bad coding style
for i in range(len(z)):
    print (z[i])
## good coding style
for i in z:
    print (i)

1
2
3
Hello
1
2
3
Hello

In [73]:
'python is so good'.split()  # 문자열을 분리해서 리스트로

['python', 'is', 'so', 'good']

In [74]:
list('abcd')   # 문자열에서 리스트로

['a', 'b', 'c', 'd']

In [75]:
list( (1,2,3,4) )  # 튜플에서 리스트로

[1, 2, 3, 4]

In [76]:
s = set([1,2,3,4])
list(s)   # 집합에서 리스트로

[1, 2, 3, 4]

In [77]:
list(range(4))  # range 객체를 리스트로

[0, 1, 2, 3]

In [78]:
dic = {'one':1, 'two':2, 'three':3}
list(dic)   # 사전을 키 값의 리스로

['three', 'two', 'one']

In [79]:
list(dic.items())  # (키, 값) 쌍의 리스트로

[('three', 3), ('two', 2), ('one', 1)]

In [80]:
list(dic.values())  # 값의 리스트로

[3, 2, 1]

In [81]:
a = [1, 2, "Great"]
print(a[0], a[-1]) # 인덱싱

1 Great

In [82]:
print(a[1:3], a[:]) # 슬라이싱

[2, 'Great'] [1, 2, 'Great']

In [83]:
L = list(range(10))
L

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [84]:
L[::2] # 확장 슬라이싱

[0, 2, 4, 6, 8]

In [85]:
a * 2 # 반복하기

[1, 2, 'Great', 1, 2, 'Great']

In [86]:
a + [3, 4, 5] # 연결하기

[1, 2, 'Great', 3, 4, 5]

In [87]:
len(a) # 리스트의 길이 정보

3

In [88]:
4 in L # 멤버 검사

True

In [89]:
a = ['spam', 'eggs', 100, 1234]
a[2] += 23
a

['spam', 'eggs', 123, 1234]

In [90]:
del a[0]  # 한 항목 삭제
a

['eggs', 123, 1234]

In [91]:
del a[0:2]  # 구간 삭제
a

[1234]

In [92]:
s = [1, 2, 3]
t = ['begin', s, 'end'] # 중첩 리스트
t

['begin', [1, 2, 3], 'end']

In [93]:
t[1]

[1, 2, 3]

In [94]:
t[1][1]

2

In [95]:
s[1] = 100
t

['begin', [1, 100, 3], 'end']

In [96]:
s = [1, 2, 3]

In [97]:
s.append(5)   # 5를 오른쪽 끝에 추가한다
s

[1, 2, 3, 5]

In [98]:
L = []
for i in range(10):
    L.append(i*i)
L

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [99]:
s.insert(3, 4)  # 3번 위치에 4를 추가한다
s

[1, 2, 3, 4, 5]

In [100]:
s.index(3)  # 3의 위치는?

2

In [101]:
s.count(2) # 값 2의 개수는?

1

In [102]:
s.reverse( ) # 리스트의 순서를 뒤집는다. 반환 값이 없다.
s

[5, 4, 3, 2, 1]

In [103]:
s.sort( ) # 리스트를 정렬한다. 반환 값이 없다.
s

[1, 2, 3, 4, 5]

In [104]:
s = [10, 20, 30, 40, 50, 10]
s.remove(10)
s

[20, 30, 40, 50, 10]

In [105]:
s.remove(10)
s

[20, 30, 40, 50]

In [106]:
s.remove(10)

ValueError: list.remove(x): x not in list

In [107]:
try:
    s.remove(10)
except ValueError:
    print('no more 10')

no more 10

In [108]:
s.pop()  # 맨 오른쪽 위치에서 값을 하나 꺼낸다.

50

In [109]:
s.pop(0) # 맨 왼쪽 위치에서 값을 하나 꺼낸다.

20

In [110]:
s

[30, 40]

In [111]:
s.extend([60, 70]) # 리스트[60, 70]을 뒤쪽으로 추가한다.
s

[30, 40, 60, 70]

In [112]:
s.append([60, 70])
s

[30, 40, 60, 70, [60, 70]]

In [113]:
L = [1, 5, 3, 9, 8, 4, 2]
L.sort()
L

[1, 2, 3, 4, 5, 8, 9]

In [114]:
L.sort(reverse=True)
L

[9, 8, 5, 4, 3, 2, 1]

In [115]:
sorted(L)

[1, 2, 3, 4, 5, 8, 9]

In [116]:
L

[9, 8, 5, 4, 3, 2, 1]

In [117]:
def to_lower(s):
    return s.lower()

L = 'Python is a Programming Language'.split( )
sorted(L, key=to_lower)

['a', 'is', 'Language', 'Programming', 'Python']

In [118]:
str.lower('ABC')

'abc'

In [119]:
sorted(L, key=str.lower)

['a', 'is', 'Language', 'Programming', 'Python']

In [120]:
L = ['123', '34', '56', '2345']
sorted(L)

['123', '2345', '34', '56']

In [121]:
sorted(L, key=int)

['34', '56', '123', '2345']

In [122]:
L = [1, 5, 3, 9, 8, 4, 2]
for ele in reversed(L):
    print(ele, end=' ')

2 4 8 9 3 5 1

List Comprehension

In [123]:
[k * k for k in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [124]:
L = []
for k in range(10):
    L.append(k * k)
L

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [125]:
[k * k for k in range(10) if k % 2 == 1]

[1, 9, 25, 49, 81]

## 12. Class

In [126]:
class Greeter(object):

    # 생성자
    def __init__(self, name):
        self.name = name  # 인스턴스 변수 선언

    # 인스턴스 메소드
    def greet(self, loud=False):
        if loud:
            print ('HELLO, {}!'.format(self.name.upper()))
        else:
            print ('Hello, {}'.format(self.name))

g = Greeter('Fred')  # Greeter 클래스의 인스턴스 생성
g.greet()            # 인스턴스 메소드 호출; 출력 "Hello, Fred"
g.greet(loud=True)   # 인스턴스 메소드 호출; 출력 "HELLO, FRED!"

Hello, Fred
HELLO, FRED!