# handling of series and dataframe

In [17]:
from pandas import Series, DataFrame

+ Define Series

In [5]:
series1 = Series([92600, 92400, 92100, 94300, 92300])
print(series1)

0    92600
1    92400
2    92100
3    94300
4    92300
dtype: int64

In [6]:
print("count : \n", series1.count(), end = "\n\n")
print("describe :\n", series1.describe())

count :
 5

describe :
 count        5.000000
mean     92740.000000
std        890.505474
min      92100.000000
25%      92300.000000
50%      92400.000000
75%      92600.000000
max      94300.000000
dtype: float64

+ Access index

In [7]:
print(series1[2])

92100

In [8]:
series2 = Series([92600, 92400, 92100, 94300, 92300], 
                 index=['2018-02-19','2018-02-18','2018-02-17','2018-02-16','2018-02-15'])
print(series2)

2018-02-19    92600
2018-02-18    92400
2018-02-17    92100
2018-02-16    94300
2018-02-15    92300
dtype: int64

+ Iterate index

In [9]:
for data in series2.index:
    print(data)

2018-02-19
2018-02-18
2018-02-17
2018-02-16
2018-02-15

+ Iterate values

In [10]:
for val in series2.values:
    print(val)

92600
92400
92100
94300
92300

In [11]:
series_g1 = Series([10, 20, 30], index=['n1', 'n2', 'n3'])
series_g2 = Series([10, 30, 20], index=['n2', 'n1', 'n3'])
print(series_g1)
print(series_g2)

n1    10
n2    20
n3    30
dtype: int64
n2    10
n1    30
n3    20
dtype: int64

+ simple math with series

In [12]:
add = series_g1 + series_g2
mul = series_g1 * series_g2
cul = (series_g1 * series_g2) * (0.5 + 1)
print(add); print()
print(mul); print()
print(cul); print()

n1    40
n2    30
n3    50
dtype: int64

n1    300
n2    200
n3    600
dtype: int64

n1    450.0
n2    300.0
n3    900.0
dtype: float64

In [15]:
r_data = {'City': ['서울','대구','부산','대전'], 'Total1':[55000, 47000, 49000, 42000], 'Total2': [65000, 57000, 53000, 48000]}
i_data = ['one','two','three','four']
print(type(r_data))
print(r_data)

<class 'dict'>
{'Total2': [65000, 57000, 53000, 48000], 'Total1': [55000, 47000, 49000, 42000], 'City': ['서울', '대구', '부산', '대전']}

In [20]:
# define dataframe
d_frame = DataFrame(r_data, index = i_data)
#d_frame = DataFrame(r_data, columns = ['Total1', 'Total2', 'City'])

print(type(d_frame)); print()
print(d_frame); print()
print(d_frame.index); print()
print(d_frame.values); print()
print(d_frame['City']); print() #columns
print(d_frame.ix['one']); print()   #rows
print(d_frame.describe())

<class 'pandas.core.frame.DataFrame'>

      City  Total1  Total2
one     서울   55000   65000
two     대구   47000   57000
three   부산   49000   53000
four    대전   42000   48000

Index(['one', 'two', 'three', 'four'], dtype='object')

[['서울' 55000 65000]
 ['대구' 47000 57000]
 ['부산' 49000 53000]
 ['대전' 42000 48000]]

one      서울
two      대구
three    부산
four     대전
Name: City, dtype: object

City         서울
Total1    55000
Total2    65000
Name: one, dtype: object

             Total1        Total2
count      4.000000      4.000000
mean   48250.000000  55750.000000
std     5377.421935   7182.153809
min    42000.000000  48000.000000
25%    45750.000000  51750.000000
50%    48000.000000  55000.000000
75%    50500.000000  59000.000000
max    55000.000000  65000.000000

+ iterate the values

In [23]:
for e in d_frame.values:
    for i, z in enumerate(e):        
        print(i,z)

0 서울
1 55000
2 65000
0 대구
1 47000
2 57000
0 부산
1 49000
2 53000
0 대전
1 42000
2 48000