# read csv file with pandas

In [3]:
import pandas as pd
import csv

# Basic read of csv file
filepath = './data/csv_s1.csv'
df = pd.read_csv(filepath)
print(df)

   Month   "1958"   "1959"   "1960"
0    JAN      340      360      417
1    FEB      318      342      391
2    MAR      362      406      419
3    APR      348      396      461
4    MAY      363      420      472
5    JUN      435      472      535
6    JUL      491      548      622
7    AUG      505      559      606
8    SEP      404      463      508
9    OCT      359      407      461
10   NOV      310      362      390
11   DEC      337      405      432

+ skip a row

In [7]:
df = pd.read_csv(filepath, skiprows=[0])
print(df)

    JAN    340    360    417
0   FEB    318    342    391
1   MAR    362    406    419
2   APR    348    396    461
3   MAY    363    420    472
4   JUN    435    472    535
5   JUL    491    548    622
6   AUG    505    559    606
7   SEP    404    463    508
8   OCT    359    407    461
9   NOV    310    362    390
10  DEC    337    405    432

+ Without header

In [5]:
df = pd.read_csv(filepath, skiprows=[0], header= None)
print(df)

      0    1    2    3
0   JAN  340  360  417
1   FEB  318  342  391
2   MAR  362  406  419
3   APR  348  396  461
4   MAY  363  420  472
5   JUN  435  472  535
6   JUL  491  548  622
7   AUG  505  559  606
8   SEP  404  463  508
9   OCT  359  407  461
10  NOV  310  362  390
11  DEC  337  405  432

+ Define header(added column names)

In [8]:
df = pd.read_csv(filepath, skiprows=[0], header= None, names=["Month",1958,1959,1960])
print(df)

   Month  1958  1959  1960
0    JAN   340   360   417
1    FEB   318   342   391
2    MAR   362   406   419
3    APR   348   396   461
4    MAY   363   420   472
5    JUN   435   472   535
6    JUL   491   548   622
7    AUG   505   559   606
8    SEP   404   463   508
9    OCT   359   407   461
10   NOV   310   362   390
11   DEC   337   405   432

+ Define index column
    - If a column has standard, it's more useful than just using column 0, 1, 2, ...

In [13]:
df = pd.read_csv(filepath, skiprows=[0], header= None, names=["Month",1958,1959,1960],
                 index_col = [0])
print(df)

       1958  1959  1960
Month
JAN     340   360   417
FEB     318   342   391
MAR     362   406   419
APR     348   396   461
MAY     363   420   472
JUN     435   472   535
JUL     491   548   622
AUG     505   559   606
SEP     404   463   508
OCT     359   407   461
NOV     310   362   390
DEC     337   405   432

+ Set a values as NaN

Below example, all "JAN" turn into NaN

In [17]:
df = pd.read_csv(filepath, skiprows=[0], header= None, names=["Month",1958,1959,1960],
                 na_values = ["JAN"])
print(df)
print()
print(pd.isnull(df))

   Month  1958  1959  1960
0    NaN   340   360   417
1    FEB   318   342   391
2    MAR   362   406   419
3    APR   348   396   461
4    MAY   363   420   472
5    JUN   435   472   535
6    JUL   491   548   622
7    AUG   505   559   606
8    SEP   404   463   508
9    OCT   359   407   461
10   NOV   310   362   390
11   DEC   337   405   432

    Month   1958   1959   1960
0    True  False  False  False
1   False  False  False  False
2   False  False  False  False
3   False  False  False  False
4   False  False  False  False
5   False  False  False  False
6   False  False  False  False
7   False  False  False  False
8   False  False  False  False
9   False  False  False  False
10  False  False  False  False
11  False  False  False  False